<?xml version="1.0"?>
<!-- Start launch code-->
<launch>
    <!-- Run a listener node -->
    <node pkg="listener" name="listener" type="listener_script.py" args=""/>
    <!-- Find talker.launch in the talker package and run it with the talk arg set to -->
    <include file="$(find talker)/launch/talker.launch">
     	<arg name="talk" value="1" />
    </include>
</launch>
