<?xml version="1.0"?>
<launch>
	<remap from="/video_source/raw" to="/camera_image"/>
	<node name="line_detection" pkg="image_proc" type="lane_detect.py" output="screen"/>
	<node name="colour_detection" pkg="image_proc" type="colour_detect.py" output="screen"/>
	<node name="controller" pkg="controller" type="controller.py" output="screen"/>
	<include file="$(find ros_deep_learning)/launch/video_source.ros1.launch"/>
</launch>

