<?xml version="1.0"?>
<launch>
  <!-- Definition of the talk argument  -->
  <arg name="talk" default="0"/>
  <!-- Group some code and execute it if talk = True  -->
  <group if="$(eval talk)">
    <!-- make a paramenter in the parameter server containing the pub rate  -->
    <param name="pub_freq" type="double" value="100.0"/>
    <!-- Run a talker node -->
    <node pkg="talker" name="talker" type="talker.py" args=""/>
  </group>

</launch>
