<?xml version="1.0" ?>
<launch>    
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find puzzlebot_gazebo)/urdf/puzzlebot.xacro'"/>
   <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
   <!-- Launch rviz -->
   <node type="rviz" name="rviz" pkg="rviz" args="-d $(find puzzlebot_gazebo/launch/config1.rviz" />
   <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
        <param name="use_gui" value="True"/>
    </node>
</launch>
