<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- note to self: modify this to add wheel as left and right with -->
    
    <xacro:macro name="box_inertia" params="m x y z">
            <inertia
          ixx="${m/12.0 * (y*y + z*z)}" ixy="0.0" ixz="0.0"
          iyy="${m/12.0 * (z*z + x*x)}" iyz="0.0"
          izz="${m/12.0 * (y*y + x*x)}"/>
        
    </xacro:macro>

    <xacro:macro name="wheel_inertia" params="r l m">
               <inertia  ixx="${(m/12)*(3*((r*r)+((r/4)*(r/4)))+(l*l))}" ixy="0" ixz="0"
                iyy="${(m/12)*(3*((r*r)+((r/4)*(r/4)))+(l*l))}" iyz="0"
                izz="${(m/2)*(r*r+(r/4)*(r/4))}" />
    </xacro:macro>

    <xacro:macro name="wheel" params="prefix reflect">
      <link name="${prefix}_wheel">
        <visual>
          <origin xyz="0 0 0" rpy="${reflect*(PI/2)} 0 0" />
            <geometry>
              <!-- with mesh 
                <mesh filename="file://${mesh_wheel}"/>-->
              <!-- cylinder only -->
              <cylinder length="${wheelHeight}" radius="${wheelRadius}"/> 
            </geometry>
        </visual>
        <collision>
          <origin xyz="0 0 0 " rpy="-${PI/2} 0 0"/>
            <geometry>
               <cylinder length="${wheelHeight}" radius="${wheelRadius}"/>
            </geometry>
        </collision>
        <inertial>
          <mass value="${wheelMass}"/>
          <origin xyz="0 0 0" rpy="${PI/2} 0 0"/>
          <xacro:wheel_inertia r="${wheelRadius}" l="${wheelHeight}" m="${wheelMass}"/> 
        </inertial> 
      </link> 
    </xacro:macro>
  
</robot>